@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  src: url('./asset/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
}