@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  src: url('./asset/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
}

#root {
  max-width: 1200px; /* 원하는 최대 너비 */
  margin: 0 auto; /* 좌우 중앙 정렬 */
  padding: 0 20px; /* 좌우 패딩 */
}
